spring:
  application:
    name: config-server

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:/config/core
            - classpath:/config/stats
            - classpath:/config/infra

server:
  port: 9090

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
