server:
  port: 0

spring:
  application:
    name: main-service

  datasource:
    url: jdbc:postgresql://localhost:${EWM_POSTGRES_PORT:5433}/${EWM_POSTGRES_DB:ewm}
    username: ${EWM_POSTGRES_USER:sa}
    password: ${EWM_POSTGRES_PASSWORD:sa}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"

stats-server:
  url: http://stats-server
