server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/analyzer-db?sslmode=disable
    username: postgres
    password: postgres
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        default_schema: public
    show-sql: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

analyzer:
  kafka:
    bootstrap-server: localhost:9092
    key-deserializer: org.apache.kafka.common.serialization.LongDeserializer
    event-deserializer: ru.practicum.analyzer.deserializer.EventSimilarityDeserializer
    user-deserializer: ru.practicum.analyzer.deserializer.UserActionDeserializer
    event-group-id: event-stats-client
    user-group-id: user-stats-client
    topic-events-similarity: stats.events-similarity.v1
    topic-user-actions: stats.user-actions.v1
    max-poll-records: 100
    max-poll-intervalMs: 30000
    fetch-max-wait-ms: 100
    enable-auto-commit: false
    consume-attempt-timeout: 100

eureka:
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"

logging:
  level:
    org.springframework:
      orm.jpa: INFO
      transaction: INFO
      transaction.interceptor: TRACE
      orm.jpa.JpaTransactionManager: DEBUG
      ru.practicum.analyzer: DEBUG
      org.springframework.context: INFO
      org.springframework.beans: INFO
      org.springframework.boot.autoconfigure: DEBUG