server:
  port: 0

spring:
  application:
    name: stats-server

  datasource:
    url: jdbc:postgresql://localhost:5433/ewm
    username: sa
    password: sa

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"

